<header>
    <div class="container">
        <a href="/ang/">
            <img src="/angielski/img/logo.png" alt="logo">
        </a>
        <h1>
            Zadanka angielski
        </h1>
    </div>
    {{> navbar}}
</header>