<nav>
    <a href="/ang/krzyzowka"> Krzyżówka</a>
    <a href="/ang/wstaw-wyrazy">Wstaw pasujący wyraz</a>
    <a href="/ang/polacz-elementy">Połącz elementy</a>
    <a href="/ang/projekt-uk">Projekt UK</a>
</nav>