<main>
    <link rel="stylesheet" href="/angielski/styles/connect.css">
    <section>
        <svg class="connect" id="connect" width="1100" height="500"></svg>
    </section>
    <section class="manual">
        <h2>Jak grać?</h2>
        <p>Zadanie polega na połączeniu posującego tekstu z obrazkiem. Po wyznaczeniu wszystkich prawidłowych połączeń w obszarze planszy pojawi się odpowiedni napis :D</p>
    </section>
    <script src="/angielski/scripts/connect.js"></script>
</main>