<main>
    <link rel="stylesheet" href="/angielski/styles/crossword.css">

    <section class="crossword">
        <canvas id="crossword" width="700" height="500">

        </canvas>
        <div class="controls">
            <label>Numer
                <span id="number">1</span>:
                <input type="text" id="input">
            </label>
            <div class="arrow">
                <span id="arrow1">&uparrow;</span>
                <span id="arrow2">&downarrow;</span>
            </div>
        </div>
    </section>
    <section class="result">
        <p>Hasło z krzyżówki:
            <span id="showWord">CONSERVATORY</span> <br>
            <span id="showDescription">Conservatory - tak można określić często spotykane w Wielkiej Brytanii ogrody
                wewnętrzne. Przeszklone pomieszczenie znajdujące się na poziomie gruntu w każdym czasie stanowi miłe
                miejsce do spędzenia czasu w otoczeniu natury</span>
        </p>
    </section>
    <section class="questions">
        <ol>
            <li>What is the name of the house, where one family lives?</li>
            <li>How do you call house, which has futuristic design?</li>
            <li>How do you call design without interior walls?</li>
            <li>Item of furniture that is used to work in office?</li>
            <li>Room under ground level?</li>
            <li>Room where you sleep?</li>
            <li>The opposite of the city (przeciwieństwo dla miasta)</li>
            <li>If somethings has a small width, you can say otherwise that it's ...</li>
            <li>Name of material</li>
            <li>If the room has a lot of space, you can say that this room is ...</li>
            <li>Chairs, tables, wardrobes...</li>
            <li>If you feel comfortable in house, you can say that this house is ...</li>
        </ol>
    </section>
    <script src="/angielski/scripts/crossword.js"></script>
</main>