<main>
    <link rel="stylesheet" href="/angielski/styles/insert_word.css">

    <section>
        <form id="insert_word">
            <ol>
                <li>
                    <label>Did you
                        <select id="1" required>
                            <option value="1">make</option>
                            <option value="2">made</option>
                            <option value="3">do</option>
                            <option value="4">did</option>
                        </select>
                        your bed this morning?
                    </label>
                </li>
                <li>
                    <label>Do your neighbours ever
                        <select id="2" required>
                            <option value="1">do</option>
                            <option value="2">makes</option>
                            <option value="3">make</option>
                            <option value="4">doing</option>
                        </select>
                        a noise?
                    </label>
                </li>
                <li>
                    <label>Do you like
                        <select id="3" required>
                            <option value="1">making</option>
                            <option value="2">made</option>
                            <option value="3">did</option>
                            <option value="4">doing</option>
                        </select>
                        the washing-up?
                    </label>
                    </li>
                <li>
                    <label>Who
                        <select id="4" required>
                            <option value="1">do</option>
                            <option value="2">does</option>
                            <option value="3">make</option>
                            <option value="4">makes</option>
                        </select>
                        the cooking in your house?
                    </label>
                </li>
                <li>
                    <label>Have you ever
                        <select id="5" required>
                            <option value="1">done</option>
                            <option value="2">did</option>
                            <option value="3">made</option>
                            <option value="4">making</option>
                        </select>
                        dinner for somebody?
                    </label>
                </li>
                <li>
                    <label>Where does your family usually
                        <select id="6" required>
                            <option value="1">doing</option>
                            <option value="2">making</option>
                            <option value="3">make</option>
                            <option value="4">do</option>
                        </select>
                        the shopping?
                    </label>
                </li>
            </ol>
            <div class="controls">
                <input type="submit" value="Sprawdź!">
                <input type="reset" value="Reset">
            </div>
            
        </form>
    </section>

    <script src="/angielski/scripts/insert_word.js"></script>
</main>