<main>
    <h1>
        Spis zadań
    </h1>
    <ol>
        <li><a href="/ang/krzyzowka"> Krzyżówka</a></li>
        <li><a href="/ang/wstaw-wyrazy">Wstaw pasujący wyraz</a></li>
        <li><a href="/ang/polacz-elementy">Połącz elementy</a></li>
    </ol>
</main>