<main>
    <link rel="stylesheet" href="/angielski/styles/project-uk.css">
    <h1>Projekt UK</h1>

    <div class="container">
        <img src="/angielski/mapa.png" alt="Mapa UK do projektu" usemap="#image-map" class="mapa">
        <div class="about">
            <img id="picture" src="" alt="">
            <h2>NAZWA MIASTA</h2>
            <p></p>
        </div>
    </div>
    <map name="image-map">
        <area target="" alt="Plymouth" title="Plymouth"  coords="402,1428,9" shape="circle">
        <area target="" alt="London" title="London" coords="789,1241,14" shape="circle">
        <area target="" alt="Bristol" title="Bristol"  coords="557,1255,10" shape="circle">
        <area target="" alt="Cardiff" title="Cardiff"  coords="493,1257,9" shape="circle">
        <area target="" alt="Newport" title="Newport" coords="514,1234,9" shape="circle">
        <area target="" alt="Swansea" title="Swansea"  coords="418,1231,9" shape="circle">
        <area target="" alt="Oxford" title="Oxford"  coords="684,1205,9" shape="circle">
        <area target="" alt="Cambridge" title="Cambridge" coords="812,1125,9" shape="circle">
        <area target="" alt="Belfast" title="Belfast"  coords="234,765,10" shape="circle">
        <area target="" alt="Londonderry" title="Londonderry"  coords="113,698,10" shape="circle">
        <area target="" alt="Aberdeen" title="Aberdeen"  coords="568,360,10" shape="circle">
        <area target="" alt="Dundee" title="Dundee"  coords="494,466,9" shape="circle">
        <area target="" alt="Glasgow" title="Glasgow"  coords="385,564,12" shape="circle">
        <area target="" alt="Edynburg" title="Edynburg"  coords="472,556,11" shape="circle">
        <area target="" alt="Liverpool" title="Liverpool"  coords="508,948,9" shape="circle">
        <area target="" alt="Manchester" title="Manchester" coords="575,936,9" shape="circle">
        <area target="" alt="Hull" title="Hull"  coords="750,883,9" shape="circle">
        <area target="" alt="Sheffield" title="Sheffield" coords="651,950,8" shape="circle">
        <area target="" alt="Birmingham" title="Birmingham"  coords="619,1113,9" shape="circle">
        <area target="" alt="Leeds" title="Leeds" coords="645,916,9" shape="circle">


        <area target="" alt="England" title="England"  coords="540,1209,515,1279,419,1286,327,1315,240,1411,207,1478,258,1502,379,1500,555,1467,681,1458,816,1420,917,1361,958,1299,965,1239,992,1103,955,1011,880,954,814,897,795,825,733,741,679,683,648,598,617,562,566,595,573,629,510,689,476,718,418,780,471,848,504,896,498,956,529,1020,497,1027,501,1075,496,1101,500,1169" shape="poly">
        <area target="" alt="Wales" title="Wales"  coords="496,943,462,953,393,928,346,942,335,986,339,1026,327,1070,293,1120,273,1165,275,1205,308,1253,387,1250,463,1260,505,1266,523,1241,527,1198,517,1137,513,1039,531,1006" shape="poly">
        <area target="" alt="Northern Ireland" title="Northern Ireland"  coords="109,689,91,725,56,737,33,771,53,806,76,827,116,814,138,790,154,821,166,846,198,840,231,851,275,802,298,768,264,709,233,651,196,638,149,652" shape="poly">
        <area target="" alt="Scotland" title="Scotland"  coords="448,21,295,83,134,128,71,265,63,401,138,457,219,540,256,664,316,763,474,711,553,642,592,561,609,281,551,63" shape="poly">

    </map>

    <script src="/angielski/scripts/project-uk.js"></script>
</main>